<!DOCTYPE html>
<html class="no-js" lang="en">
  {{ partial "head.html" . }}
  <body>
   <!--[if lt IE 8]>
       <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->
	{{ partial "post_banner.html" . }}
  <!-- header -->
  <article class="post main">
    <header>
      <div class="meta larger">{{ .Date.Format "Jan 2, 2006" }}<br>
    </div>
      <h1>
        <a href='{{ .Permalink }}'> {{ .Title }}</a>
      </h1>
    </header>
    <section class="content">
      {{ .Content }}
    </section>
    <footer>
      {{ partial "comments.html" . }}
    </footer>
  </article>
  {{ partial "scripts.html" . }}
  </body>
</html>
