<!DOCTYPE html>
<html class="no-js" lang="">
  {{ partial "head.html" . }}
  <body>
   <!--[if lt IE 8]>
       <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->
  <!-- header -->
  <article class="post">
    <header>
      <h2><a href='{{ .Permalink }}'>{{ .Title }}</a></h2>
    </header>
    <section>
      {{ .Content }}
    </section>
    <hr/>
    {{ partial "comments.html" . }}
  </article>
  {{ partial "scripts.html" . }}
  </body>
</html>
