<!DOCTYPE html>
<html class="no-js" lang="">
  {{ partial "head.html" . }}
  <body>
   <!--[if lt IE 8]>
       <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
   <![endif]-->
  <!-- header -->
  <header class="site-head">
    <img src="https://farm8.staticflickr.com/7476/16289892801_ca635f8f14_o.jpg" alt="banner"></img>
    <div class="header">
      <h1>{{ .Site.Params.Author }}</h1>
      <div class="meta">{{ .Site.Params.Description }}</div>
      {{ partial "social.html" . }}
    </div>
  </header>
  <article class="post">
    <header>
      <h2><a href='{{ .Permalink }}'> {{ .Title }}</a></h2>
    </header>
    {{ .Content }}
    {{ partial "comments.html" . }}
  </article>
  {{ partial "scripts.html" . }}
  </body>
</html>
