#carousel {
  width: 780px;
  overflow:hidden;
}

#carousel ul {
  width: 4680px;
  padding: 0;
  margin: 0;
}

#carousel ul li {
  width:780px;
  text-align: center;
  list-style: none;
  float:	left;
}
