body {
  font-family: 'AvenirNextLTW01-Regular', Helvetica, sans-serif;
  min-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  color: #307EA9;
}

a:visited {
  color: #999;
}


/******************************************************
                      Posts
 ******************************************************/

.posts article {
  width: 100%;
}

.posts ul {
  padding: 0;
  margin: 0;
}

/******************************************************
                    Post Banner
 ******************************************************/
.posts .recent header:hover {
  background-color: #307EA9;
}

.posts .banner header span {
  float: right;
  padding-top: 2px;
  font-size: 12px;
  margin-right: 10px;
  text-transform: uppercase;
}
.posts .banner header {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  background-color: rgba(0, 0, 0, .75);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-indent: 10px;
  color: #fff;
  font-size: 22px;

  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.posts .recent {
  padding: 0;
}

.posts .banner {
  position: relative;
  border-radius: 5px;
  margin-left: -125px;
  height: 200px;
  width: 900px;
}

/******************************************************
                    Post List
 ******************************************************/

.posts .listing li {
  width: 100%;
}

.posts a {
  color: #307EA9;
  text-decoration: none;
}

.posts .listing span {
  padding-top: 2px;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #999;
}

.posts li {
  margin-bottom: 0;
  padding: 7px 5px;
  font-size: 18px;
}


/******************************************************
                      Rule
 ******************************************************/

.rule {
  margin: 75px 0 25px 0;
  text-align: center;
  width: 650px;
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
}

.rule hr {
  border: 0;
  height: 6px;
  background-image: url('/img/hr.png');
  background-repeat: repeat-x;
  margin: 2em 3em;
}


.rule hr:last-child {
  float: right;
  margin: 7px auto;
  width: 510px;
}

.rule hr:first-child {
  float: left;
  margin: 7px auto;
  width: 25px;
}



/******************************************************
                      Post Banners
 ******************************************************/
.container section {
  width: 650px;
  margin: 0 auto;
}

/******************************************************
                      Site Banner
 ******************************************************/

.banner {
  background-image: url(/img/banner_top.png);
  background-color: #2B2B2B;
  background-size: cover;
  height: 350px;
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}


/******************************************************
                      Site Header
 ******************************************************/

.container {
  width: 650px;
  margin: 0 auto;
}

.header {
  margin: 75px 0 25px 0;
}

.name b {
  font-family: 'Avenir Next LT W01 Bold';
  font-weight: normal;
}

.name a {
  font-size: 30px;
  font-family: 'Avenir Next W01 Thin';
  font-weight: normal;
  text-transform: uppercase;
}

.menu ul {
  padding: 0;
  margin: 0;
  font-family: 'Avenir Next LT W01 Bold';
  text-transform: uppercase;
  float: right;
}

.menu ul li {
  display: inline;
  padding-left: 15px;
}

.menu ul li a {
  font-size: 14px;
}

li {
  padding: 0;
  list-style-type: none;
  font-size: 20px;
  margin-left: 0;
  line-height: 160%;
}

.header a {
  color: #444;
  transition: color 0.25s ease-in;
  -webkit-transition: color 0.25s ease-in;
}


/******************************************************
                      Post
 ******************************************************/

.post header h1 {
  margin: 10px;
}

.post h2, .post h3, .post h4, .post h5, .post header {
  padding: 10px 10px 10px 20px;
  border-left: 7px solid #eee;
  margin: 40px -30px 30px -30px;
}

.post header .meta {
  padding-top: 5px;
  font-size: 13px;
  text-transform: uppercase;
  color: #999;
}

.post .content {
  font-size: 18px !important;
  line-height: 150%;
}

.post {
  margin-bottom: 25px;
}

.post header h2 {
  
}

.post header .meta span {
  float: right;
}

/******************************************************
                      Footer
 ******************************************************/
.footer {
  background-image: url(/img/banner_bottom.png);
  margin-top: 150px;
  height: 120px;
  background-size: cover;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, .5);
  padding: 25px;
}


/******************************************************
                      Annotation
 ******************************************************/
.aside {
  margin-bottom: 25px;
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}

