#carousel {
  width: 800px;
  overflow:hidden;
}

#carousel ul {
  width: 4200px;
  padding: 0;
  margin: 0;
}

#carousel ul li {
  width:800px;
  text-align: center;
  list-style: none;
  float:	left;
}
