.content a {
  color: #224;
}

.status-banner {
  font-size: 4em;
  margin-top: 5em;
  margin-bottom: 2em;
}

#cover-photo-container {
  margin-bottom: 2em;
}

#cover-photo-container img {
  width: 100%;
  max-width: 900px;
  max-height: 550px;
}

#post-info {
  margin-top: -1px;
}

#main h1 {
  font-size: 2.25em;
  margin-bottom: 1.5em;
}

.header h1 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

#copyright {
  font-size: 0.45rem;
}

.post {
  margin-bottom: 30px;
}
.post h2 {
  margin-left: 0;
  margin-bottom: 0.8em;
}
.post header {
  margin-bottom: 0.8em;
}
.post p {
  margin-bottom: 1em;
  margin-left: 5px;
}

.post footer {
  margin-left: 5px;
}

.meta {
  font-size: 0.9em;
}

.sidebar-nav {
  text-align: center;
}

.clean-list {
  list-style-type: none;
}


.spinning_icons a{
	width:32px;
	height:32px;
	display:inline-block;
	text-indent:-9999em;
	background-position:0 0;
	background-repeat:no-repeat;
	z-index:2000;
	overflow:hidden;
}

.spinning_icons a:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
	transition: transform 0.2s ease-out;
	-webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
}

.twitter{ background:url('/img/twitter_32.png'); }
.delicious{ background:url('/img/delicious_32.png'); }
.digg{ background:url('/img/digg_32.png'); }
.dribbble{ background:url('/img/dribbble_32.png'); }
.email{ background:url('/img/email_32.png'); }
.facebook{ background:url('/img/facebook_32.png'); }
.flickr{ background:url('/img/flickr_32.png'); }
.foursquare{ background:url('/img/foursquare_32.png'); }
.linkedin{ background:url('/img/linkedin_32.png'); }
.rss{ background:url('/img/rss_32.png'); }
.stumbleupon{ background:url('/img/stumbleupon_32.png'); }
.youtube{ background:url('/img/youtube_32.png'); }

