.social {
  padding: 25px 10px;
}

.spinning_icons {
  padding: 15px;
}
.spinning_icons a{
	width:32px;
	height:32px;
	display:inline-block;
	text-indent:-9999em;
	background-position:0 0;
	background-repeat:no-repeat;
	z-index:2000;
	overflow:hidden;
}

.spinning_icons a:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
	transition: transform 0.2s ease-out;
	-webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
}

.small { background-size: cover; max-width: 24px; max-height:24px;}
.gplus{ background-image:url('/img/gplus_32.png'); }
.twitter{ background-image:url('/img/twitter_32.png'); }
.delicious{ background-image:url('/img/delicious_32.png'); }
.digg{ background-image:url('/img/digg_32.png'); }
.dribbble{ background-image:url('/img/dribbble_32.png'); }
.email{ background-image:url('/img/email_32.png'); }
.facebook{ background-image:url('/img/facebook_32.png'); }
.flickr{ background-image:url('/img/flickr_32.png'); }
.foursquare{ background-image:url('/img/foursquare_32.png'); }
.linkedin{ background-image:url('/img/linkedin_32.png'); }
.rss{ background-image:url('/img/rss_32.png'); }
.stumbleupon{ background-image:url('/img/stumbleupon_32.png'); }
.youtube{ background-image:url('/img/youtube_32.png'); }
