<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {{ partial "head.html" . }}
  <body>
    <div class="site">
      {{ partial "sidebar.html" . }}
      <div id="home" class="content" >
        {{ partial "sidebar-button.html" . }}
        <article class="post">
          <header>
            <h2><a href='{{ .Permalink }}'> {{ .Title }}</a></h2>
          </header>
          {{ .Content }}
          <footer>
              <!-- put share links here -->
          </footer>
        </article>
      </div>
    </div>
  </body>
</html>
