<div class="social">
  <section class="share clear">
    <div class="spinning_icons pull-right">
      <a class="twitter small" 
         title="Share on Twitter" 
         href="http://twitter.com/share?text={{.Title}}&url={{ .Permalink }}" 
         onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Twitter</a>

      <a class="gplus small"
         title="Share on Google Plus"
         href="https://plus.google.com/share?url={{ .Permalink }}" 
          onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">Google+</a>

      <a class="facebook small"
         title="Share on Facebook"
         href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" 
         onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">Facebook</a>
    </div>
  </section>
  <section class="comments">
    <div id="disqus_thread"></div>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
</div>
