<div id="sidebar" class="sidebar">
    
    <div class="header">
      <h1>{{ .Site.Title }}</h1>
      <p class="lead">
      {{ .Site.Params.Description }}
      </p>
    </div>

    <div class="posts">
      <ul class="clean-list sidebar-nav">
        <li>
          <a href="/">Archive</a> 
        </li>
        {{ range .Site.Menus.main }}
          <li>
            <a href="{{.Url}}">{{ .Name }}</a>
          </li>
        {{end}}
      </ul>
    </div>

  <div class="footer">
    {{ partial "social.html" . }}
    {{ partial "copyright-notice.html" . }}
  </div>

</div>
