<div class="spinning_icons">	
  <a href="https://plus.google.com/+AdamVeldhousen" class="gplus" title="google+">Twitter</a>
  <a href="http://www.twitter.com/adamveld12" class="twitter" title="twitter">Twitter</a>
  <a href="http://www.linkedin.com/in/aveldhousen" class="linkedin" title="linkedin">Linkedin</a>
  <a href="http://digg.com/user/fdfac2236bff41b3b972bb598453d7cb/diggs.rss" class="digg" title="digg">Digg</a>
  <a href="https://www.flickr.com/photos/111913225@N04/" class="flickr" title="flickr">Flickr</a>
  <a href="https://www.youtube.com/channel/UCzhhrinYmVsPQ7zLeUvDMaQ" class="youtube" title="youtube">YouTube</a>
  <a href="https://foursquare.com/adamveld12" class="foursquare" title="foursquare">Foursquare</a>
  <a href="http://www.stumbleupon.com/stumbler/adamveld12" class="stumbleupon" title="stumbleupon">Stumbleupon</a>
  <a href="http://www.facebook.com/adamveld12" class="facebook" title="facebook">Facebook</a>
  <a href="http://words.veldhousen.ninja/index.xml" class="rss" title="rss">RSS</a>
</div>
