
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {{ partial "head.html" . }}
  <body>
    <div class="site">
      {{ partial "sidebar.html" . }}
      <div id="home" class="content" >
        {{ partial "sidebar-button.html" . }}
        <h1 class="status-banner">404</h1>
        <p>
          Oops, I think you took a wrong turn somewhere... Let's take you
          <a href="{{ .Site.BaseUrl }}">back home</a>
        </p>
      </div>
    </div>
  </body>
</html>
