<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {{ partial "head.html" . }}
  <body>
    <div class="site">
      {{ partial "sidebar.html" . }}
      <div id="home" class="content" >
        {{ partial "sidebar-button.html" . }}

        <div id="post-info">
          <div id="cover-photo-container">
            <img src="https://farm8.staticflickr.com/7476/16289892801_ca635f8f14_o.jpg" alt="banner"></img>
            <div class="meta">Photo by Adam Veldhousen - The Strip, Las Vegas NV </div>
          </div>
          <section id="main">
            <h1>Archives</h1>
            <ul id="list" class="clean-list">
              {{ range .Data.Pages }}
                {{ .Render "summary"}}
              {{ end }}
            </ul>
          </section>
        </div>

      </div>
    </div>
  </body>
</html>
