<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
  <!-- header -->
  {{ partial "site-header.html" . }}
  <div class="banner"></div>

  <!-- post list -->
  <main role="main" class="container">
   <!--[if lt IE 8]>
      <div class="aside">
       <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
   <![endif]-->
    <section class="posts">
      <header style="text-align: center;">
        <h1> Projects </h1>
      </header>
      <ul class="recent">
        {{ range where .Data.Pages "Section" "projects" }}
        <li> {{ .Render "summary-banner"}} </li>
        {{ end }}
      </ul>
    </section>
  </main>
  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
  </body>
</html>
